Makefile
aclocal.m4
config.h
config.h.in
config.h.in~
configure.ac
configure~
depcomp
missing
non-recursive-googletest/foo
non-recursive/config.h.in~
non-recursive/configure~
non-recursive/failing
non-recursive/foo
non-recursive/passing
recursive/config.h.in~
recursive/configure~
recursive/src/foo
recursive/tests/failing
recursive/tests/passing
stamp-h1
test-driver
